export RUST_LOG="server=debug,log"
export RUST_BACKTRACE=1
export DATABASE_URL=postgres://postgres:password@localhost:5432/radiowo-server
export JWT_SECRET='<REPLACE_THIS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!>'
export ALLOWED_ORIGINS='http://localhost:5000,http://192.168.1.128:58008'
